*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
  overflow: hidden;
}

@font-face {
    font-family: 'Coolveti';
    src: url(coolveti.ttf);
}

@font-face {
    font-family: 'Arkinson';
    src: url(Atkinson-Hyperlegible-Bold-102.otf);
}

/*
////////////////////////////////
////////////////////////////////
------------- HEADER -----------
////////////////////////////////
////////////////////////////////
*/


header{
    width: 70vw;
    height: 10vh;
    display: grid;
    grid-template-columns: 70% 30%;
    /*background-color: bisque;*/
    margin: auto;
    align-items: center;
    font-family: 'Coolveti';
}

.header-left h1{
    font-size: 5rem;
    transition: color 1.5s ease-out, font-size .5s;
}

.header-left h1:hover{
    font-size: 6rem;
    color: #ff8a00;
}



.header-right{
    text-align: right;
    font-size: 4rem;
}
.header-right a{
    transition: .3s;
}

.header-right a{
    color: #000;
    text-decoration: none;
}

.header-right a:hover{
    font-size: 4.5rem;
}

.fa-linkedin:hover{
    color: #0077b5;
}

.fa-instagram:hover{
  background: -webkit-linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


/*
////////////////////////////////
////////////////////////////////
------------ MAIN --------------
////////////////////////////////
////////////////////////////////
*/

.main{
  height: 85vh;
  width: 70vw;
  margin: auto;
  background-image: url(img/PICT0038.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-content: center;
}


.main a, p, pre{
  font-family: 'Coolveti';
}

.main a{
  font-size: 6.5rem;
}

.section{
  font-size: 5rem;
}

.section_body{
  display: none  !important;
  }

#do, #contact {
  text-align: right;
  margin-right: 1rem;
}

.title{
cursor: pointer;
transition: 0.3s ease-in-out;
margin-left: 1rem;
}

.title:hover {
font-size: 8rem;
color: white;
}

.title:hover::after{
  font-family: Arial, Helvetica, sans-serif;
  content: " abrir »";
  font-size: 2rem;
  }

.contact form{
  font-family: 'Coolveti';
  text-align: center;
  text-justify: left;
  height: auto;
  margin: 0 auto;
  text-align: left;
  padding: .5em;
  border: 10px solid #ccc;
  background: #1549aa;
  border-radius: 15px;
}

label {
  color: #fff;
  font-size: 3rem;
  
}

input, textarea {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  max-width: 51vw;
  max-height: 200px;
  font-size: 2rem;
  font-family: 'Coolveti';
}

 input[type="cancel"], input[type="submit"]{
  font-family: 'Coolveti';
  text-align: center;
  width: 12vw;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 3rem;
  float: right;
  margin: 2px
}

input[type="submit"]:hover, input[type="cancel"]:hover {
  background-color: rgba(253,111,132,1);
}



/*
////////////////////////////////
////////////////////////////////
------- FOOTER --------
////////////////////////////////
////////////////////////////////
*/


footer{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
}


/*
////////////////////////////////
////////////////////////////////
------- JAVASCRIPT --------
////////////////////////////////
////////////////////////////////
*/



.titulo_exp{
display: block;
padding-top: 15vh;
}


.visible{
  display: grid !important;;
}

.main_aboutme{
  background-image: url(img/a.jpg);
  display: grid;
  grid-template-rows: 30% 70%;
  box-shadow: -5px 5px #000;
}


.transicion{
  transition: .3s ease-in;
}

.main_do{
  background: rgb(253,29,29);
  background: radial-gradient(circle, rgba(255,0,5,1) 0%,
   rgba(253,159,85,1) 15%,
    rgba(254,46,106,1) 27%,
     rgba(143,163,0,1) 40%,
      rgba(53,104,254,1) 62%,
       rgba(253,111,132,1) 75%,
        rgba(254,198,48,1) 83%,
         rgba(252,70,172,1) 100%);
  position: relative;
  z-index: 1;
  height: 85vh;
}

.main_do::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(circle, rgba(255,0,5,1) 0%,
    rgba(143,163,0,1) 20%,
     rgba(53,104,254,1) 35%,
      rgba(253,111,132,1) 40%,
       rgba(254,198,48,1) 53%,
        rgba(252,70,172,1) 65%,
        rgba(253,159,85,1) 75%,
        rgba(254,46,106,1) 100%);
  z-index: -1;
  transition: 5s ease-in;
  opacity: 0;
}

.main_do:hover::before {
opacity: 1;
transition: 3s ease-in;
}

.do_exp{
  display: block;
  padding-top: 10vh;
  color: #fff
}

.titulo_exp:hover::after, .experience_exp:hover::after, .projects_exp:hover::after, .contact_exp:hover::after, .do_exp:hover::after{
font-family: Arial, Helvetica, sans-serif;
content: " cerrar »";
font-size: 2rem;
}

.main_experience {
  background-color: #fff;
  background-image: none;
  background-image: url(img/EA0CC16B-D9C0-4AFB-BB3C-F52287D72321.jpg);
  background-size: contain;
  background-position: left;
  }

  .main_projects{
    border-radius: 20px;
    padding: 1em;
    background: linear-gradient(90deg,
     rgba(253,159,85,1) 0%,
      rgba(254,46,106,1) 17%,
       rgba(255,0,5,1) 35%,
        rgba(143,163,0,1) 51%,
         rgba(53,104,254,1) 70%,
          rgba(252,70,172,1) 84%,
           rgba(251,252,70,1) 100%);
  }

*::-webkit-scrollbar{
    width: 1rem;
    height: 1rem;
  }
*::-webkit-scrollbar-thumb{
    background-color: #fff;
  }

*::-webkit-scrollbar-thumb:hover{
    background-color: #777;
  }

  *::-webkit-scrollbar-track-piece{
    color: #0077b5;
  }


  

  .projects_exp{
    display: block;
    height: 10vh;
  }
  
  .projects{
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
    overflow-x: auto;
  }
  
  .project_child {
    height: min-content;
    max-height: 70vh;
    background-color: #d62976;
    border: 10px solid #d62976;
    border-radius: 25px;
    margin: 0 0 .1em .1em;
    background-color: aliceblue;
    overflow-y: auto;
  }

  .project_child .info{
    font-size: 2.5rem;
    width: 90%;
    margin: auto;
    background-color: #fff;
  }

  .child_title{
    display: block;
    font-size: 4rem;
    background-color: #d62976;
    line-height: 2;
  }

  .project_child img{
    display: block;
    max-width: 90%;
    margin: .2em auto;
    border: 3px solid #0077b5;
    }

.buttons{
  text-align: center;
  margin: auto;
  background-color: #d62976;
  }

  .buttons button{
    font-family: 'Coolveti';
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.2274159663865546) 0%, rgba(253,45,154,0.3562675070028011) 100%);
    width: 15vh;
    height: min-content;
    font-size: 2rem;
  }

  .buttons button:hover{
    text-shadow: -2px 2px #000;
  }

.ocultar{
display: none !important;
}
 *::selection{
  background-color: #feda75;
 }

/*
 ------------------------------ 
 ------------------------------
         DISP. MOVILES
 -----------------------------
 ----------------------------
 */

 
 @media screen and (max-width: 700px) {
  
header{
  width: 100vw;
  height: 5vh;
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  align-items: left;
  font-family: 'Coolveti';
}

.header-left h1{
  font-size: 3rem;
  transition: color 1.5s ease-out, font-size .5s;
}

.header-left h1:hover{
  font-size: 3.3rem;
  color: #ff8a00;
}



.header-right{
  text-align: right;
  font-size: 2rem;
}
.header-right a{
  transition: .3s;
}

.header-right a{
  color: #000;
  text-decoration: none;
}

.header-right a:hover{
  font-size: 2.5rem;
}

.fa-linkedin:hover{
  color: #0077b5;
}

.fa-instagram:hover{
background: -webkit-linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#main{
  height: 90vh;
  width: 100vw;
}

.main_aboutme{
  background-color: #fa7e1e;
  background-size: contain;
  background-position: top;
}

.section_body p{
  
  font-size: 5rem;
}

.title{
  font-size: 7rem !important;
}






 }